app-editor-code{
    .CodeMirror{
        min-height: 350px !important;
        height: 350px !important;
    }

    .CodeMirror-scroll {
        min-height: 350px !important;
        height: 350px !important;
    }
}

